<div class="container padding-top-10">
  <div class="row">
    <div class="col-12 padding-top-10" style="cursor: pointer" *ngFor="let inventoryItem of inventoryData$ | async | filter: filterItem : filterField ; let i =index">
      <div class="card">
        <h5 class="card-header">{{inventoryItem.Name | capitalize: true}}</h5>
        <div class="card-body">
          <table class="table" role="table">
            <tr role="row">
              <td colspan="3" role="cell" > <b>Description: </b><span *ngIf="inventoryItem.Description ; else blank">{{inventoryItem.Description}}</span>
                <ng-template #blank>
                  N/A
                </ng-template></td>
            </tr>
            <tbody role="rowgroup">
            <tr>
              <td width="33%" role="cell"><b>Weight: </b><span *ngIf="inventoryItem.Weight ; else blank">{{inventoryItem.Weight}}</span>
                <ng-template #blank>
                  N/A
                </ng-template></td>
              <td width="33%" role="cell"><b>Quantity: </b>{{inventoryItem.Quantity}}</td>
              <td width="34%" role="cell"><b>Location: </b>{{inventoryItem.Location}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
