<div class="container">
  <div class="row">
    <div class="col-12">
      <h3>IN/OUT Inventory</h3>
    <form  [formGroup]="inventoryInOutForm" novalidate>
       <!-- <div class="form-group" >
          <label for="itemName">Select Inventory Item to Continue</label>
          <select class="form-control" formControlName="itemName" id="itemName"  (change)="onSelect(itemName.value)" required >
            <option value="select" selected data-default>Select your Item</option>
            <option *ngFor="let itemName of itemNamesList" [value]="itemName._id">{{itemName.name}}</option>
          </select>
          <div [hidden]="itemName.valid || itemName.untouched"
               class="alert alert-danger">
            Please select an item to continue
          </div>
        </div>-->
        <div *ngIf="showDetails">
          <div class="container padding-top-10">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <h5 class="card-header">{{inventoryItem.Name | capitalize: true}}</h5>
                  <div class="card-body">
                    <table class="table" role="table">
                      <tr role="row">
                        <td colspan="3" role="cell" > <b>Description: </b><span *ngIf="inventoryItem.Description ; else blank">{{inventoryItem.Description}}</span>
                          <ng-template #blank>
                            N/A
                          </ng-template></td>
                      </tr>
                      <tbody role="rowgroup">
                      <tr>
                        <td width="33%" role="cell"><b>Weight: </b><span *ngIf="inventoryItem.Weight ; else blank">{{inventoryItem.Weight}}</span>
                          <ng-template #blank>
                            N/A
                          </ng-template></td>
                        <td width="33%" role="cell"><b>Quantity: </b>{{inventoryItem.Quantity}}</td>
                        <td width="34%" role="cell"><b>Location: </b>{{inventoryItem.Location}}</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="form-group">
            <label for="quantity">Enter IN/OUT Stock Quantity</label>
            <input type="tel" formControlName="quantity" class="form-control" id="quantity" aria-describedby="stockHelp" placeholder="Enter values 1 - 99">
            <small id="stockHelp" class="form-text text-muted">Please enter numbers only, maximum 99.</small>
            <div [hidden]="quantity.valid || quantity.pristine"
                 class="alert alert-danger">
              Please enter a valid stock quantity
            </div>
          </div>
        <button type="submit" class="btn btn-success" [disabled]="!inventoryInOutForm.valid" (click)="onUpdate(actions.IN)" >IN</button> &nbsp;
        <button type="button" class="btn btn-danger" [disabled]="!inventoryInOutForm.valid" (click)="onUpdate(actions.OUT)" >OUT</button>
        </div>
        <div *ngIf="showSuccessMessage"
             class="alert alert-success">
          Inventory Stock Successfully Updated for <em>{{updatedItem}} </em> in the Server <br/>
          <h4>Select from below actions to continue</h4>
          <hr>
        </div>
      <div *ngIf="showSuccessMessage">
          <div class="col-12 col-md-6" (click)="navigateComponent(module_vars.INV_SELECT)" style="cursor: pointer">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="https://i.imgur.com/bKobrp6.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">In/Out</h5>
                <p class="card-text">Manage another In/Out item entry </p>
            </div>
          </div>
          </div>
          <div class="col-12 col-md-6" (click)="navigateComponent(module_vars.INV_LIST)" style="cursor: pointer">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="https://i.imgur.com/NvjpwaI.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">View Inventory</h5>
                <p class="card-text">View and Edit items in the Inventory</p>
              </div>
            </div>
          </div>
        </div>
      <div *ngIf="showFailureMessage"
           class="alert alert-danger">
          There is some problem with the services, try again after some time or report this to the Admin.
      </div>
      </form>
    </div>
  </div>
</div>
