

<div class="container padding-top-10">
  <div class="row">
  <div class="col-12 col-md-6" (click)="navigateComponent(module_vars.INV_LIST)" style="cursor: pointer">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../assets/images/inventory_management.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">View Inventory</h5>
        <p class="card-text">View and Edit items in the Inventory</p>
      </div>
    </div>
  </div>
    <div class="col-12 col-md-6" (click)="navigateComponent(module_vars.INV_ADD)" style="cursor: pointer">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../assets/images/add_inventory.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Add Item</h5>
          <p class="card-text">Add New item to the Inventory</p>
        </div>
      </div>
    </div>
  </div>

  <br/>
  <div class="row">
    <div class="col-12 col-md-6" (click)="navigateComponent(module_vars.INV_IN_OUT)" style="cursor: pointer">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../assets/images/inventory_in_out.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">In/Out</h5>
          <p class="card-text">Manage In/Out item entry </p>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6" (click)="navigateComponent(module_vars.INV_ROOMS)" style="cursor: pointer">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../assets/images/rooms.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">View Rooms</h5>
          <p class="card-text">View and Edit Items in the Individual Room</p>
        </div>
      </div>
    </div>
  </div>
  </div>
